@charset "UTF-8";

a:link {
  color: royalblue;
  transition: 0.7s;
}

a:visited {
  color: royalblue;
}

a:hover {
  color: white;
  background-color: royalblue;
}

a:active {
  color: red;
  background-color: #eeffaa;
}